<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Your Payment History</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <!-- ADDED JavaScript -->
  		<script src="javascripts/petOwnerScript.js"></script>

  </head>
  <body>
    <h1><%= title%></h1>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by month...">

    <table class="table" id='myTable'>
        	<thead>
        		<tr>
        			<th scope="col">Salary</th>
        			<th scope="col">Month</th>
        			<th scope="col">Year</th>
        		</tr>
        	</thead>
        	<tbody>
        		<% for(var i=0; i<data.length; i++) { %>
        		    <% if (data[i].caretaker === 'Apolonia Bowers') {%>
        		    <tr>
        			    <td><%= data[i].total_cost%></td>
        			    <td><%= data[i].year%></td>
        			    <td><%= data[i].month%></td>
        		    </tr>
        		    <% } %>
        		<% } %>
        	</tbody>
        </table>


        <script>
        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        </script>

    <a href = '/caretaker' method = 'post'>
        <button type="submit" class="btn btn-primary">Back</button>
    </a>
  </body>
</html>
